.menu {
  background-color: #333;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 25px;
  background-color: #f8f9fa;
  margin: 4px 0;
  transition: 0.4s;
}

.menu-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu-item {
  margin-right: 1rem;
}

.menu-link {
  text-decoration: none;
  color: #f8f9fa;
  font-size: 0.875rem;
  transition: color 0.2s;
}

.menu-link:hover {
  color: #0d9494;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .menu-list {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    background-color: #f8f9fa;
    top: 60px;
    left: 0;
    z-index: 1;
  }

  .menu-list.open {
    display: flex;
  }
}
